{% extends 'base.html.twig' %}

{% block title %}New Parametres{% endblock %}

{% block body %}
    <h1>Create new Parametres</h1>

    {{ include('parametress/_form.html.twig') }}

    <a href="{{ path('app_parametress_index') }}">back to list</a>
{% endblock %}
